In [1]:
from DatabaseDAO import DatabaseDAO

CONNECTION = {
    'host': 'localhost',
    'port': 5432,
    'database': 'postgres',
    'user': 'postgres',
    'password': 'postgres'
}

conn = DatabaseDAO(**CONNECTION)
conn.DEBUG = False

conn.execute_query('SELECT pg_terminate_backend(pid) FROM pg_stat_activity WHERE datname = %s', ['meumenu'])
conn.execute_query('DROP DATABASE meumenu;')
conn.execute_query('CREATE DATABASE meumenu;')

CONNECTION = {
    'host': 'localhost',
    'port': 5432,
    'database': 'meumenu',
    'user': 'postgres',
    'password': 'postgres'
}

conn = DatabaseDAO(**CONNECTION)
conn.DEBUG = False

with open('structure.sql') as f:
    sql = f.read()
    conn.execute_query(sql)

conn.DEBUG = True

In [2]:
class Store:
    
    def __init__(self, store_id):
        self.store_id = store_id
        
    def categories(self):
        return conn.read_query("""
            SELECT 
                category.*, 
                store.name AS store_name
            FROM category
            LEFT JOIN store 
                ON store_id = store.id
            WHERE store.id = %s
        """, [self.store_id]).to_dict(orient = 'records')
    
    def create_category(self, name, description):
        return conn.read_query("""
            INSERT INTO category (name, description, store_id)
            VALUES
            (%s, %s, %s)
            RETURNING *
        """, [name, description, self.store_id]).to_dict(orient = 'records')
        
    def delete_category(self, category_id):
        return conn.read_query("""
            DELETE FROM category CASCADE
            WHERE id = %s
            RETURNING *
        """, [category_id]).to_dict(orient = 'records')
    
    def products(self):
        return conn.read_query("""
            SELECT *
            FROM product
            LEFT JOIN category
                ON category_id = category.id
            WHERE store_id = %s
        """, self.store_id).to_dict(orient = 'records')
        
    def create_product(self, name, description, price, photo, category_id):
        return conn.read_query("""
            INSERT INTO product (name, description, price, photo, category_id)
            VALUES
            (%s, %s, %s, %s, %s)
        """, [name, description, price, photo, category_id]).to_dict(orient = 'records')
        
        
    def delete_product(self):
        return conn.read_query("""
            DELETE FROM product
            WHERE id = %s
            RETURNING *
        """, [product_id]).to_dict(orient = 'records')
        
    
    def specialtys(self):
        return conn.read_query("""
            SELECT specialtys
            FROM store
            WHERE id = %s
        """, [self.store_id]).to_dict(orient = 'records')
        
    
    def update_specialtys(self, specialtys):        
        return conn.read_query("""
            UPDATE store
            SET specialtys = %s
            WHERE id = %s
            RETURNING *
        """, [specialtys, self.store_id]).to_dict(orient = 'records')

        
    def add_schedule(self, dow_start, dow_end, opens_at, closes_at):
        return conn.read_query("""
            INSERT INTO schedule (dow_start, dow_end, opens_at, closes_at, store_id)
            VALUES
            (%s, %s, %s, %s, %s)
            RETURNING *
        """, [dow_start, dow_end, opens_at, closes_at, self.store_id]).to_dict(orient = 'records')
        
    def delete_schedule(self, schedule_id):
        return conn.read_query("""
            DELETE FROM schedule
            WHERE id = %s
            RETURNING *
        """, [schedule_id]).to_dict(orient = 'records')
    
    def schedules(self):
        return conn.read_query("""
            SELECT *
            FROM schedule
            WHERE store_id = %s
        """, [self.store_id]).to_dict(orient = 'records')

In [3]:
def create_store(
        name,
        phone,
        email,
        password,
        specialtys,
        adress_country,
        adress_city,
        adress_borough,
        adress_street
    ):
    return conn.read_query("""
        INSERT INTO store (
            name,
            phone,
            email,
            password,
            specialtys,
            adress_country,
            adress_city,
            adress_borough,
            adress_street
        )
        VALUES
        (%s,%s,%s,%s,%s,%s,%s,%s,%s)
        RETURNING *
    """, [
        name,
        phone,
        email,
        password,
        specialtys,
        adress_country,
        adress_city,
        adress_borough,
        adress_street
    ]).to_dict(orient = 'records')

In [4]:
my_store = create_store(
        name='Lojão do Pão',
        phone='+5585996108737',
        email='airton.neto@delfosim.com',
        password='droped123',
        specialtys=['Pães', 'Queijos'],
        adress_country='Brazil',
        adress_city='Fortaleza',
        adress_borough='Joaquim Távora',
        adress_street='Rua Visconde do Rio Branco 2955, APTO 202 A'
)

        INSERT INTO store (
            name,
            phone,
            email,
            password,
            specialtys,
            adress_country,
            adress_city,
            adress_borough,
            adress_street
        )
        VALUES
        ('Lojão do Pão','+5585996108737','airton.neto@delfosim.com','droped123',ARRAY['Pães','Queijos'],'Brazil','Fortaleza','Joaquim Távora','Rua Visconde do Rio Branco 2955, APTO 202 A')
        RETURNING *

In [5]:
# Instantiate class Store
store_id = my_store[0]['id']
store = Store(my_store[0]['id'])

In [6]:
# Categories
category = store.create_category('Pães', 'O melhor pão da região!')
category2 = store.create_category('Queijos', 'O melhor queijo da região!')
store.delete_category(category2[0]['id'])
store.categories()

            INSERT INTO category (name, description, store_id)
            VALUES
            ('Pães', 'O melhor pão da região!', 1)
            RETURNING *


            INSERT INTO category (name, description, store_id)
            VALUES
            ('Queijos', 'O melhor queijo da região!', 1)
            RETURNING *


            DELETE FROM category CASCADE
            WHERE id = 2
            RETURNING *


            SELECT
                category.*,
                store.name AS store_name
            FROM category
            LEFT JOIN store
                ON store_id = store.id
            WHERE store.id = 1

[{'id': 1,
  'name': 'Pães',
  'description': 'O melhor pão da região!',
  'store_id': 1,
  'store_name': 'Lojão do Pão'}]

In [7]:
# Specialtys
store.update_specialtys(['Pães', 'Queijos', 'Bolos'])
store.specialtys()

            UPDATE store
            SET specialtys = ARRAY['Pães','Queijos','Bolos']
            WHERE id = 1
            RETURNING *


            SELECT specialtys
            FROM store
            WHERE id = 1

[{'specialtys': ['Pães', 'Queijos', 'Bolos']}]

In [8]:
# Schedules
schedule = store.add_schedule(1, 3, '13:00', '17:00')
schedule2 = store.add_schedule(5, 7, '05:00', '17:00')
store.delete_schedule(schedule2[0]['id'])
store.schedules()

            INSERT INTO schedule (dow_start, dow_end, opens_at, closes_at, store_id)
            VALUES
            (1, 3, '13:00', '17:00', 1)
            RETURNING *


            INSERT INTO schedule (dow_start, dow_end, opens_at, closes_at, store_id)
            VALUES
            (5, 7, '05:00', '17:00', 1)
            RETURNING *


            DELETE FROM schedule
            WHERE id = 2
            RETURNING *


            SELECT *
            FROM schedule
            WHERE store_id = 1

[{'id': 1,
  'store_id': 1,
  'dow_start': 1,
  'dow_end': 3,
  'opens_at': Timedelta('0 days 13:00:00'),
  'closes_at': Timedelta('0 days 17:00:00')}]

In [ ]:
# Products
with open('pao.jpeg', 'rb') as f:
    photo = f.read()
store.create_product(
    name='Pão Carioquinha', 
    description='O melhor pão da cidade!', 
    price=0.5, 
    photo=photo, 
    category_id=category[0]['id']
)